.main-favoritos { 
    background-color: #edeae5;
    display: grid;
    width: 100%;
    height: auto;
    border-radius: 15%;
    justify-content:center;
    align-items: center;
    row-gap: 8px;
    column-gap: 5%;
    padding: 5%;
    grid-template-columns: repeat (3, 1 fr);
    grid-template-rows: repeat 12% (1, 1 fr);
    grid-template-areas: 
    "text-banner-fav text-banner-fav text-banner-fav"
    "foto-favuno foto-favdos foto-favtres";
    div {
        a{
        &:hover{text-decoration: none;
        color:#E4CD01; 
        cursor:pointer;
        }}}
.text-banner-fav {  
    grid-area: text-banner-fav;    
    display: grid;
    font-size: 28px;
    font-weight: lighter;
    font-family:'Poppins', sans-serif;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap: 3px;
    padding: 4%;
        }
.corazon{
    margin: 10px 140px 10px 140px;
}
.foto-favuno {
    grid-area: foto-favuno;
    display: grid;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.foto-favdos {
    grid-area: foto-favdos;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.foto-favtres { 
    grid-area: foto-favtres;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@keyframes jello {
    from, 11.1%, to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }
  
  .jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  }
