.main-indumentaria {
    height: auto;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8%;
}
    .main-decoracion {
        background-color: #edeae5;
        display: grid;
        width: 100%;
        height: 200vh;
        row-gap: 6%;
    }
    .main-favoritos { 
        .text-banner-fav {
            font-size: 25px;
        }}
    .main-regis-media{
.registrarme-banner {
    font-size: 21px;
    margin: 10px 100px 80px 100px;  
}
.registrarme {
    text-align: center;
    font-size: 16px;
    padding: 30px;
}
.class-formu {
    padding: 40px 250px 40px 250px;
}
}
