@media(max-width:1024px){   
.main-index-media {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
.img-1 {
    position:relative;
    right: -100px;
    width: 310px;
    height: 510px;
}
.img-2 {
    position:relative;
    right: -40px;
    width: 310px;
    height: 510px;
}
.item-2 {
    font-size: 21px; 
    position:relative;
    right: 140px;
    bottom: 90px;
}

.item-4 {
    font-size: 21px; 
    position:relative;
    right: 186px;
    bottom: 92px;
}
}
.main-indumentaria {
    height: auto;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8%;
}

    .main-decoracion {
        background-color: #edeae5;
        display: grid;
        width: 100%;
        height: 200vh;
        row-gap: 6%;
    }
    .main-favoritos { 
        .text-banner-fav {
            font-size: 25px;
        }}
    .main-regis-media{
        display: flex;
        width: 100%;
        height: 110vh;
.registrarme-banner {
    font-size: 21px;
    margin: 70px 100px 40px 100px 
}
.registrarme {
    text-align: center;
    font-size: 16px;
    padding: 30px;
}
.class-formu {
    padding: 40px 250px 40px 250px;
}
}
}