@media (max-width:425px) {
    header{
    .logo{ 
            width: 50%;
            margin: 30px 2px 2px 20px
            }
            .navbar {
                    font-size: 10px;
                    gap: 4px;
                    margin: 40px 18px 40px 0px;   
            } }
            main div span{
                padding: 3%;
                font-size: 11px;
                text-align: center;
            }  
            main div span a {
                text-decoration: none;
                list-style: none;
                color:black;
                font-family:'Poppins', sans-serif;
                font-size: 10px;
                }      
.main-index-media {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
    padding: 15% 0% 10%;

.img-1 {
    position:relative;
    right: -43px;
    width: 160px;
    height: 300px;
}
.img-2 {
    position:relative;
    right: 33px;
    width: 160px;
    height: 300px;
}
.item-2 {
    font-size: 12px; 
    position:relative;
    right: 86px;
    bottom: 90px;
}

.item-4 {
    font-size: 12px; 
    position:relative;
    right: -265px;
    bottom: 110px;
}
}
.main-indumentaria {
    background-color: #edeae5;
    display: grid;
    width: 100%;
    border-radius: 15%;
    height: auto;
    font-family:'Poppins', sans-serif;
    grid-template-columns: repeat (2, 1 fr);
    grid-template-rows: repeat (3, 1 fr);
    grid-template-areas: 
    "f-uno f-dos"
    "f-tres f-cuatro"
    "f-cinco f-seis";
    .f-uno img {
            width: 80%;
        }
    .f-dos img {
            width: 80%;
            }
    .f-tres img  {
            width: 80%;
            }
    .f-cuatro img {
            width: 80%;
            }
    .f-cinco img {
            width: 80%;
            }
    .f-seis img {
            width: 80%;
            }
}
.main-decoracion {
    background-color: #edeae5;
    display: grid;
    width: 100%;
    height: auto;
    font-family:'Poppins', sans-serif;
    font-size: 13px;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8%;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    grid-template-columns: repeat (2, 1 fr);
    grid-template-rows: repeat (4, 1 fr);
    grid-template-areas: 
    "text-banner text-banner"
    "uno dos"
    "tres cuatro"
    "cinco seis";
.text-banner {
    display: grid;
    font-size: 13px;
    padding: 2% 0% 8% 0%;
}
.fotos-queries-320{ 
    display:grid;
    justify-items: center;
    width: 80%;
}
.uno {
    grid-area: uno;
    display: grid;
    justify-items: center;
    }
    .dos {
    grid-area: dos;
    display: grid;
    justify-items: center;
    }
    
    .tres { 
    grid-area: tres;
    display: grid;
    justify-items: center;
    }
    
    .cuatro {
    grid-area: cuatro;
    display: grid;
    justify-items: center;
    }
    .cinco {
    grid-area: cinco;
    display: grid;
    justify-items: center;
    }
    .seis {
    grid-area: seis;
    display: grid;
    justify-items: center;
    }

}
.main-regis-media{
    width: auto;
    height: auto;
    font-size: 12px;
.registrarme-banner {
    font-size: 14px;
    margin: 50px 50px 50px 30px;  
}
.registrarme {
    text-align: center;
    font-size: 10px;
    padding: 30px;
}
.class-formu {
    padding: 40px 90px 60px 90px;
}
}
.main-favoritos { 
    width: 100%;
    height: auto;
    padding: 5% 0% 18%;
    .text-banner-fav {
        font-size: 12px;
    }
    .foto-favuno img {
        width: 120px;
        height: 230px;
}
    .foto-favdos img {
        width: 120px;
        height: 230px;
}
    .foto-favtres img { 
        width: 120px;
        height: 230px;
}
}
footer {
    display: flex;
    width: 100%; 
    height: auto;
    background-color: #E4C6BD ;
    flex-direction: row;  
    flex-wrap: wrap;
    font-size: 13px;

}
section ul li a img {
    width: 18px;
    height: 18px; 
}}